@charset "UTF-8";
header {
  padding:20px 30px;
  box-sizing:border-box;
  width: 100%;
  display: flex;
  align-items: center;
  background-color:black;
}

.header-title {
  font-size: 20px;
  color:#fff;
}

.header-right{
	width:100%;
	text-align:right;
}

.header-link{
	margin-left:20px;
}

.delete-decoration{
  text-decoration: none;
  color:#fff;
}