@charset "UTF-8";



.main-left{
	min-height:100vh;
	width:20%;
	background-color:gray;
	border-right:1px solid white;
	position:fixed;
	display:none;

}

.userdatas{
	margin:20px;
}

.userdata{
	color:white;
	text-align:center;
	font-size:30px;
	line-height:50px;
}

.list{
	width:90%;
	margin:0 auto;
	text-align:center;
	border-top:1px solid white;
}

.list-title{
	color:white;
	text-align:center;
	font-size:25px;
	margin:20px 0;
}

.list-name{
	color:white;
	text-decoration:none;
	font-size:20px;
	line-height:30px;
}

