@charset "UTF-8";
.main-right{
	width:100%;
	min-height:150vh;
}

.mini-projects{
	width:100%;
	border-bottom:1px solid black;
}

.mini-project-title{
	font-size:30px;
	border-bottom:1px solid black;
	padding:20px 30px;
}

.add-miniProject{
	position:fixed;
	right:50px;
	bottom:50px;
	font-size:30px;
	background-color:gray;
	padding:50px;
	color:white;
	border-radius:50%;
	font-weight:bold;
}

.search-form{
	background-color:yellow;
	padding:20px 0;
	border-bottom:1px solid black;
}

.mini-project-list-title{
	text-align:center;
	font-size:20px;
	line-height:30px;
	border-bottom:1px solid black;
}

.mini-project-list-name{
	text-align:center;
	font-size:18px;
	line-height:30px;
	white-space: nowrap;
}


.font-black{
	color:black;
}
