@charset "UTF-8";
.main-right{
	width:100%;
	min-height:150vh;
}

.projects{
	width:100%;
	border-bottom:1px solid black;
}

.project-title{
	font-size:30px;
	border-bottom:1px solid black;
	padding:20px 30px;
	text-decoration:none;
	color: black;
}

.add-project{
	position:fixed;
	right:50px;
	bottom:50px;
	font-size:30px;
	background-color:gray;
	padding:50px;
	color:white;
	border-radius:50%;
	font-weight:bold;
}

.project-list-title{
	text-align:left;
	font-size:20px;
	line-height:30px;
	border-bottom:1px solid black;
}

.project-list-name{
	text-align:left;
	font-size:18px;
	line-height:30px;
	white-space: nowrap;
}

.font-black{
	color:black;
}