.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.top{
  height: 150px;
  margin: 20px auto;
}
.title{
  font-size: 50px;
  margin: 20px auto;
  width: 600px;
}
.new{
  margin: 0 auto;
  width: 600px;
}

.main{
  margin: 20px auto;
  width: 600px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table th {
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
table td {
  vertical-align: top;
}

table.new_project, td.new_project, th.new_project{
  border: 4px none;
}


