
.input-title{
    display: inline-block;
    width: 150px;
    text-align: right;
    color: rgb(7, 26, 2);
    /* margin-right:50px; */
}

.omatome{

    text-align: center;
}

.input{
    width: 200px;
}

.button{
    margin-top: 20px;

}

.lock{

    resize: none;

}

.tanni{
    display: inline-block;
    width: 30px;
}

.text-right{
    text-align: right;
}
