@charset "UTF-8";
.main-right{
	width:100%;
	min-height:93vh;
}

.page-title{
	padding:20px 0;
	border-bottom:1px solid black;
	font-size:30px;
	text-align:center;
}


.form{
	margin:0 auto;
	width:600px;


}
.form-title{
	font-size:20px;
	line-height:40px;
	display:block;
}

.form-input{
	width:600px;
	font-size:17px;
	box-sizing:border-box;
}

.submit-button{
	margin-top:20px;
}

.link{
	display:block;
	text-align:center;
	line-height:50px;
	font-size:20px;
}