<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/main-left.css}">
<link rel="stylesheet" th:href="@{/css/task.css}">
<script type="text/javascript" src="./js/script.js"></script>
</head>
<body>
	<div th:include="header"></div>
	<h1 class="page-title">ログイン</h1>
		<form class="form" th:action="@{/login}" method="post">
			<div th:if="${authenticationException}">
				<span th:text="${authenticationException.message}"></span>
			</div>
			<label class="form-title" for="username">ユーザー名</label>
			<input class="form-input" type="text" name="username"><br/>
			<label class="form-title" for="password">パスワード</label>
			<input class="form-input" type="password" name="password"><br/>
			<input class="form-input submit-button" type="submit" value="ログイン">
		</form>
		<a class="link" th:href="@{/userRegistration}"> 従業員登録</a>
</body>
</html>