<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/main-left.css}">
<link rel="stylesheet" th:href="@{/css/mini_project_list.css}">
<title>Insert title here</title>
</head>
<body>
    <div th:include="header"></div>

	<div class="main">
	    <div th:include="main-left"></div>
		<div class="main-right">
			<div class="project-titles" th:object="${mini_project}">
				<h1 class="mini-project-title"><span th:object=${project} th:text=${project.project_name}></span></h1>
				<a class="add-miniProject" th:href="@{/{project_id}/registerMiniProject(project_id=${project.id})}">追加</a>
			</div>

 			<form class="search-form"  th:action="@{/searchMiniProject/{project_id}(project_id=${project.id})}" method="post" >
				<label>絞り込み</label>
				<input type="text" name="keyword">
				<select name="user_id" />
					<option value="100" selected="selected">ユーザー</option>
					<option value="0">user</option>
					<option value="1">user1</option>
				</select>
				<label>並び替え条件</label>
				<select name="sort">
					<option value="id">登録順</option>
					<option value="mini_project_title">プロジェクト名順</option>
					<option value="user_name">担当者</option>
				</select>
				<select name="order">
					<option value="Asc">昇順</option>
					<option value="Desc">降順</option>
				</select>
				<input type="submit" value="検索">
			</form>

			<table  border="1" class="mini-projects" th:object="${mini_projects}" >
				<tr>
					<th class="mini-project-list-title">ミニプロジェクト名</th>
					<th class="mini-project-list-title">完了率</th>
					<th class="mini-project-list-title">担当者名</th>
					<th class="mini-project-list-title"></th>
					<th class="mini-project-list-title"></th>
				</tr>
				<tr th:if="${mini_projects}" th:each="mini_project:${mini_projects}">
					<td class="mini-project-list-name"><a th:text="${mini_project.mini_project_title}" th:href="@{/{project_id}/project_detail/{mini_project_id}(project_id=${mini_project.project_id}, mini_project_id=${mini_project.id})}"></a></td>
					<td class="mini-project-list-name">85%</td>
					<td class="mini-project-list-name" th:text="${mini_project.username}"></td>
					<td class="mini-project-list-name"><a th:href="@{/{project_id}/updateMiniProject/{mini_project_id}(project_id=${mini_project.project_id}, mini_project_id=${mini_project.id})}">更新</a></td>
					<td class="mini-project-list-name">
						<form th:action="@{/{project_id}/deleteMiniProject/{mini_project_id}(project_id=${mini_project.project_id}, mini_project_id=${mini_project.id})}" method="post">
							<input type="submit" value="削除">
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>