<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>プロジェクト一覧</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/main-left.css}">
<link rel="stylesheet" th:href="@{/css/project_list.css}">

</head>
<body>
   	<div th:include="header"></div>
	<div class="main">
		<div th:include="main-left"></div>
	    <div class="main-right">
			<a class="add-task" th:href="@{/{company_id}/registerProject(company_id=${1})}">プロジェクト追加</a>
			<div class="projects">
				<div class="project-block" th:object="${projects}" th:if="${projects}" th:each="project : ${projects}">
					<a class="project-title" th:text="${project.project_name}" th:href="@{/miniProjectList/{project_id}(project_id=${project.id})}"></a>
					<p class="project-manager"th:text="${project.user_name}"></p>
					<div class="project-links">
						<a class="project-link" th:href="@{/{company_id}/updateProject/{project_id}(company_id=${1}, project_id=${project.id})}">編集</a>
						<form  th:action="@{/{company_id}/deleteProject/{project_id}(company_id=${1}, project_id=${project.id})}" method="post">
							<input class="project-link" type="submit" value="削除">
						</form>
					</div>
				</div>
			</div>
		<!-- プロジェクト一覧 -->
		<!-- 	<table border="1" class="projects" th:object="${projects}" th:if="${projects}">
				<tr>
					<th class="project-list-title">No.</th>
					<th class="project-list-title">プロジェクトのタイトル</th>
					<th class="project-list-title">プロジェクトマネージャー</th>
					<th class="project-list-title">会社名</th>
					<th class="project-list-title">日付</th>
				</tr>
				<tr th:each="project : ${projects}">
					<td class="project-list-name" th:text="${project.id}"></td>
					<td class="project-list-name"><a th:text="${project.project_name}" th:href="@{/miniProjectList/{project_id}(project_id=${project.id})}"></a></td>
					<td class="project-list-name" th:text="${project.user_name}"></td>
					<td class="project-list-name" th:text="${project.company_name}"></td>
					<td class="project-list-name" th:text="${project.created_at}"></td>
				</tr>
			</table> -->
	    </div>
	</div>
</body>
</html>