<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>プロジェクト一覧</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
	<div class="wrapper">
		<div class="main">
			<div class="title">
				<h1>プロジェクトリスト</h1>
			</div>
			<!-- プロジェクト一覧 -->
			<div th:object="${projects}" th:if="${projects}">
				<table border="1">
					<tr>
						<th>No.</th>
						<th>プロジェクトのタイトル</th>
						<th>プロジェクトマネージャー</th>
						<th>会社名</th>
						<th>日付</th>
					</tr>
					<tr th:each="project : ${projects}">
						<td th:text="${project.id}"></td>
						<td th:text="${project.project_name}"></td>
						<td th:text="${project.user_name}"></td>
						<td th:text="${project.company_name}"></td>
						<td th:text="${project.created_at}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>