<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/project_detail.css}">
<title>Insert title here</title>
</head>
<body>
  <table border="1">
    <tr>
      <td class="page-header font-pg-header">プロジェクトA</td>
      <td class="page-header font-pg-header">蛭間寛太</td>
      <td class="page-header font-pg-header">Y&I</td>
      <td class="page-header font-pg-header">2021/01/01</td>
    </tr>
  </table>
  <form class="mini-project-form">
    <input class="mini-project-text" placeholder="ミニプロジェクト名を入力" type="text">
    <input class="mini-project-button" value ="追加"type="submit">
  </form>

  <table  border="1">
    <div class="task-titles">
      <span class="project-detail-title">プロジェクトの詳細</span><span class="project-progres-title">進捗</span><span class="project-progres-cost">費用／所要時間</span>
    </div>
      <tr>
        <th class="task-width-80">ステータス</th>
        <th class="task-width-80">優先度</th>
        <th class="task-width-80">開始日</th>
        <th class="task-width-80">終了日</th>
        <th class="task-width-200">タスク名</th>
        <th class="task-width-150">担当者</th>
        <th class="task-width-200">説明</th>
        <th class="task-width-80">完了率</th>
        <th class="task-width-200">固定費</th>
        <th class="task-width-80">時間(m)</th>
      </tr>
    </table>

    <div class="miniproject-titles">
      <h1 class="miniproject-title">ミニプロジェクトA</h1><h1><a class="insert-link" href="#">タスク追加</a></h1>
    </div>
    <div class="task-list">
      <table>
        <tr>
          <td class="task-width-80 margin-r">実施中</td>
          <td class="task-width-80 margin-r">高</td>
          <td class="task-width-80 margin-r">01/02</td>
          <td class="task-width-80 margin-r">01/25</td>
          <td class="task-width-200 margin-r">ログインページ改修</td>
          <td class="task-width-150 margin-r">金澤伸行</td>
          <td class="task-width-200 margin-r">ログインボタンが動作していないので改修</td>
          <td class="task-width-80 margin-r">25%</td>
          <td class="task-width-200 margin-r">200,000</td>
          <td class="task-width-80 margin-r">40分</td>
          <td><a class="task-button" href="#">変更</a></td>
          <td><a class="task-button" href="#">削除</a></td>
        </tr>
      </table>
    </div>
<!-- ミニプロジェクト繰り返し------------------------------------------ -->
    <div class="task-list">
      <table>
        <tr>
          <td class="task-width-80 margin-r">実施中</td>
          <td class="task-width-80 margin-r">高</td>
          <td class="task-width-80 margin-r">01/02</td>
          <td class="task-width-80 margin-r">01/25</td>
          <td class="task-width-200 margin-r">ログインページ改修</td>
          <td class="task-width-150 margin-r">金澤伸行</td>
          <td class="task-width-200 margin-r">ログインボタンが動作していないので改修</td>
          <td class="task-width-80 margin-r">25%</td>
          <td class="task-width-200 margin-r">200,000</td>
          <td class="task-width-80 margin-r">40分</td>
          <td><a class="task-button" href="#">変更</a></td>
          <td><a class="task-button" href="#">削除</a></td>
        </tr>
      </table>
    </div>
    <div class="task-list">
      <table>
        <tr>
          <td class="task-width-80 margin-r">実施中</td>
          <td class="task-width-80 margin-r">高</td>
          <td class="task-width-80 margin-r">01/02</td>
          <td class="task-width-80 margin-r">01/25</td>
          <td class="task-width-200 margin-r">ログインページ改修</td>
          <td class="task-width-150 margin-r">金澤伸行</td>
          <td class="task-width-200 margin-r">ログインボタンが動作していないので改修</td>
          <td class="task-width-80 margin-r">25%</td>
          <td class="task-width-200 margin-r">200,000</td>
          <td class="task-width-80 margin-r">40分</td>
          <td><a class="task-button" href="#">変更</a></td>
          <td><a class="task-button" href="#">削除</a></td>
        </tr>
      </table>
    </div>
<!-- ミニプロジェクト繰り返し------------------------------------------ -->


<!-- プロジェクト繰り返し------------------------------------------ -->
    <div class="miniproject-titles">
      <h1 class="miniproject-title">ミニプロジェクトB</h1><h1><a class="insert-link" href="#">タスク追加</a></h1>
    </div>
    <div class="task-list">
      <table>
        <tr>
          <td class="task-width-80 margin-r">実施中</td>
          <td class="task-width-80 margin-r">高</td>
          <td class="task-width-80 margin-r">01/02</td>
          <td class="task-width-80 margin-r">01/25</td>
          <td class="task-width-200 margin-r">ログインページ改修</td>
          <td class="task-width-150 margin-r">金澤伸行</td>
          <td class="task-width-200 margin-r">ログインボタンが動作していないので改修</td>
          <td class="task-width-80 margin-r">25%</td>
          <td class="task-width-200 margin-r">200,000</td>
          <td class="task-width-80 margin-r">40分</td>
          <td><a class="task-button" href="#">変更</a></td>
          <td><a class="task-button" href="#">削除</a></td>
        </tr>
      </table>
    </div>
<!-- ミニプロジェクト繰り返し------------------------------------------ -->
    <div class="task-list">
      <table>
        <tr>
          <td class="task-width-80 margin-r">実施中</td>
          <td class="task-width-80 margin-r">高</td>
          <td class="task-width-80 margin-r">01/02</td>
          <td class="task-width-80 margin-r">01/25</td>
          <td class="task-width-200 margin-r">ログインページ改修</td>
          <td class="task-width-150 margin-r">金澤伸行</td>
          <td class="task-width-200 margin-r">ログインボタンが動作していないので改修</td>
          <td class="task-width-80 margin-r">25%</td>
          <td class="task-width-200 margin-r">200,000</td>
          <td class="task-width-80 margin-r">40分</td>
          <td><a class="task-button" href="#">変更</a></td>
          <td><a class="task-button" href="#">削除</a></td>
        </tr>
      </table>
    </div>
    <div class="task-list">
      <table>
        <tr>
          <td class="task-width-80 margin-r">実施中</td>
          <td class="task-width-80 margin-r">高</td>
          <td class="task-width-80 margin-r">01/02</td>
          <td class="task-width-80 margin-r">01/25</td>
          <td class="task-width-200 margin-r">ログインページ改修</td>
          <td class="task-width-150 margin-r">金澤伸行</td>
          <td class="task-width-200 margin-r">ログインボタンが動作していないので改修</td>
          <td class="task-width-80 margin-r">25%</td>
          <td class="task-width-200 margin-r">200,000</td>
          <td class="task-width-80 margin-r">40分</td>
          <td><a class="task-button" href="#">変更</a></td>
          <td><a class="task-button" href="#">削除</a></td>
        </tr>
      </table>
    </div>
<!-- ミニプロジェクト繰り返し------------------------------------------ -->
<!-- プロジェクト繰り返し------------------------------------------ -->
  </body>
</html>