<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>プロジェクト登録</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/project.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/main-left.css}">
</head>
<body>
	<header>
    	<div th:replace="header"></div>
    </header>
    <div class="main">
	    <div class="main-left">
			    <div class="userdatas">
					<h1 class="userdata">Y&I Group</h1>
					<h1 class="userdata">蛭間寛太</h1>
			    </div>
				<div class="list">
					<h1 class="list-title">プロジェクト一覧</h1>
					<p><a class="list-name" href="#">プロジェクト名</a></p>
					<p><a class="list-name" href="#">プロジェクト名</a></p>
					<p><a class="list-name" href="#">プロジェクト名</a></p>
					<p><a class="list-name" href="#">プロジェクト名</a></p>
					<p><a class="list-name" href="#">プロジェクト名</a></p>
				</div>
		    </div>
			 <div class="main-right" th:object="${projectBean}">
				<h1 class="page-title">プロジェクト追加</h1>
				<form th:action="@{/registerProject}" method ="post" class="form">
					<span class="form-title">プロジェクト名</span>
					<input class="form-input" type="text" th:field="*{project_name}">
					<br>
					<!-- ラジオボタン -->
					<div class="manager">
						<span class="form-input" th:object="${users}">プロジェクトマネージャー</span>
						<ul>
						    <li th:each="user:${users}">
						      <input type="radio" th:text="${user.username}">
						 	</li>
						  </ul>
					</div>
					<!-- チェックボタン -->
					<div class="participant">
						<span class="form-input" th:object="${users}">参加者</span>
						<ul>
							<li th:each="user:${users}">
								<input type="checkbox" th:text="${user.username}">
							</li>
						</ul>
					</div>
					<br>
					<input th:object="${now}" class="form-input submit-button" type="submit" value="登録">
				</form>
		</div>
	</div>
</body>
</html>