<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="task_edit.css">
</head>
<body>

    <div class="omatome">



            <h1>タスク追加（タスク更新）</h1>

                  <span class="input-title">①ステータス</span>
                    <select class="input" name="" id="">

                        <option value="#">選択してください</option>
                        <option value="#">保留</option>
                        <option value="#">実行前</option>
                        <option value="#">実行中</option>
                        <option value="#">～完～</option>

                    </select>
                    <span class="tanni"></span>
                    <br>



                <span class="input-title">②優先度</span>
                    <select class="input" name="" id="">

                        <option value="#">選択してください</option>
                        <option value="#">低</option>
                        <option value="#">中</option>
                        <option value="#">高</option>

                    </select>
                    <span class="tanni"></span>
                    <br>


                <span class="input-title">③開始日</span>
                    <input class="input" type="date" name="" id="">
                    <span class="tanni"></span>
                    <br>


                <span class="input-title">④終了日</span>
                    <input class="input" type="date" name="" id="">
                    <span class="tanni"></span>
                    <br>


                <span class="input-title">⑤タスク名</span>
                    <select class="input" name="" id="">

                        <option value="#">選択してください</option>
                        <option value="#">えへへ///</option>

                    </select>
                    <span class="tanni"></span>
                    <br>


                <span class="input-title">⑥担当者</span>
                    <select class="input" name="" id="">

                        <option value="#">選択してください</option>
                        <option value="#">のぶちゃん</option>
                        <option value="#">かんちゃん</option>
                        <option value="#">まっきー</option>
                        <option value="#">すけちゃん（ゴミ）</option>

                    </select>
                    <span class="tanni"></span>
                    <br>


                <span class="input-title textarea-title">⑦説明</span>
                    <textarea class="input lock" name="" id="" cols="20" rows="5">好きにすればいいじゃない！///</textarea>
                    <span class="tanni"></span>
                    <br>


                    <span class="input-title">⑧完了率</span>
                    <input class="input text-right" type="number" max="100" min="0" placeholder="0">
                    <span class="tanni">%</span>
                    <br>





                <span class="input-title">⑨固定費</span>
                    <input class="input text-right" type="number" min="0" placeholder="0">
                    <span class="tanni">円</span>
                    <br>



                <span class="input-title">⑩時間</span>
                    <input class="input text-right" type="number" min="0" placeholder="0">
                    <span class="tanni">分</span>
                    <br>

                <span class="input-title">     </span>
                <input class="input button" type="submit" value="⑪登録">
                <span class="tanni"></span>
                <br>

    </div>







</body>
</html>