<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/task.css}">
</head>
<body th:object="${msg}">
	<form th:object="${taskBean}" th:action="@{/updateTask/{id}(id=${id})}" method ="post" class="omatome">
		<h1>タスク追加（タスク更新）</h1>
		<span class="input-title">タスク名</span>
		<input class="input" type="text" th:field="*{task_title}">
		<span class="tanni"></span>
		<br>

		<span class="input-title">ステータス</span>
		<select class="input" th:field="*{status}" id="">
			<option value="0">保留</option>
			<option value="1">開始前</option>
			<option value="2">実行中</option>
			<option value="3">完了</option>
		</select>
		<span class="tanni"></span>
		<br>

		<span class="input-title">優先度</span>
		<select class="input" th:field="*{priority}" id="">
			<option value="0">低</option>
			<option value="1">中</option>
			<option value="2">高</option>
		</select>
		<span class="tanni"></span>
		<br>

		<span class="input-title">開始日</span>
		<input class="input" type="date" th:field="*{started_date}" id="">
		<span class="tanni"></span>
		<br>

		<span class="input-title">終了予定日</span>
		<input class="input" type="date" th:field="*{predict_finished_date}" id="">
		<span class="tanni"></span>
		<br>

		<span class="input-title textarea-title">説明</span>
			<textarea class="input lock"  th:field="*{explanation}" id="" cols="20" rows="5"></textarea>
		<span class="tanni"></span>
		<br>

		<span class="input-title">担当者</span>
		<select class="input" th:field="*{mini_project_id}" id="">
			<option value="1">金澤伸行</option>
		</select>
		<span class="tanni"></span>
		<br>

		<span class="input-title">完了率</span>
		<input class="input text-right" type="number" th:field="*{complete_rate}" min="0" max="100" >
		<span class="tanni">%</span>
		<br>

		<span class="input-title">固定費</span>
		<input class="input text-right" type="number" th:field="*{fixed_cost}" min="0">
		<span class="tanni">円</span>
		<br>

		<span class="input-title">時間</span>
		<input class="input text-right" type="number" th:field="*{required_time}" min="1">
		<span class="tanni">分</span>
		<br>

		<span class="input-title"></span>
		<input  th:object="${now}" class="input button" type="submit" value="登録">
		<span class="tanni"></span>
		<br>

	</form>
</body>
</html>