<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/main-left.css}">
<link rel="stylesheet" th:href="@{/css/task.css}">
</head>
<body>
	<div th:include="header"></div>
	<h1 class="page-title">従業員登録</h1>
		<form class="form" th:action="@{/userRegistration}" method="post" th:object="${userRegistrationBean}">
			<div th:if="${duplicateError}">
				<span th:text="${duplicateError}"></span>
			</div>

			<label class="form-title" for="username">ユーザー名</label>
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
			<input class="form-input" type="text" th:field="*{username}"><br/>

			<label class="form-title" for="password">パスワード </label>
			<span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			<input class="form-input"  type="password" th:field="*{password}"><br/>

			<label class="form-title" for="password">パスワード再入力</label>
			<span  th:if="${#fields.hasErrors('passwordConfirmed')}"th:errors="*{passwordConfirmed}"></span>
			<input class="form-input"  type="password" th:field="*{password_conf}"><br/>

			<label class="form-title" for="company"> 企業</label>
			<select class="form-input" th:field="*{company_id}">
				<option th:value="1">Y%I Group</option>
			</select>
			<br/>

			<input class="form-input submit-button" type="submit" value="登録">
		</form>
		<a class="link" th:href="@{/login}"> ログイン</a>
</body>
</html>